@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.imgHeader {
    width: 200px;
    height: 180px;
    border-radius: 70%;
}

header {
    background-color: #071b34;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgba(0, 26, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(53, 36, 109, 0.2);
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: large;
    text-shadow: 1px 1px black;
    font-family: 'Share Tech Mono', monospace; 
}

header ul li {
    background-color: rgba(33, 54, 107, 0.63);
    padding: 15px 25px;
    color: rgba(245, 245, 245, 0.881);
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgb(44, 38, 87);
    text-transform: uppercase;
}

header ul li::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(linear, rgba(13, 99, 133, 0.489) 0%, transparent 60%);
    transition: all 0.4s ease-in-out;
    transform: translate(-50%, -50%) scale(0);
}

header ul li:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}

header ul li:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgb(39, 36, 89);
    border-color: #071b34;
}

main{
    padding: 20;
    min-height: 100vh;
}

footer{
    background-color: #071b34;
    color: whitesmoke;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    justify-content: center;
    padding: 20px;
}