:root {
    --dark-bg: #010409;
    --primary-bg: #0A192F;
    --secondary-bg: #112240;
    --accent: #00D4FF;
    --neon-blue: #0085FF;
    --text-light: #A8B2D1;
    --text-bright: #CCD6F6;
}

header {
    background-color: var(--primary-bg);
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--neon-blue);
    box-shadow: 0px 4px 20px rgba(0, 132, 255, 0.2);
}

.imgHeader {
    width: 160px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
}

.imgHeader:hover {
    transform: scale(1.1);
    border-color: var(--accent);
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

nav ul li {
    background-color: rgba(0, 132, 255, 0.15);
    padding: 16px 20px;
    color: var(--text-bright);
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    text-transform: uppercase;
}

nav ul li:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px var(--neon-blue);
    background-color: var(--secondary-bg);
}

nav ul li a {
    color: var(--text-bright);
    text-decoration: none;
    display: block;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--accent);
}
