button{
    border: none;
    padding: 10px 20px;
    background-color: yellowgreen;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

div{
    border: 2px solid yellowgreen;
    margin-top: 20px;
    font-size: 10px;
    padding: 10px;
    text-align: center;
}

.mostrar{
    display: block;
}

.ocultar{
    display: none;
}